@import url(http://fonts.googleapis.com/css?family=Abel:700,400|Average|Roboto:300,700|Bowlby+One:300,700);
/*Recipes*/
.sec-recipes h2 {
  margin-top: 3em;
  margin-bottom: 2em;
  font-size: 3em;
  font-family: "Bowlby One", Helvetica, sans-serif;
  font-weight: 700; }

.sec-recipes .row {
  margin-top: 2em;
  margin-bottom: 4em;
  border-top: 1px dashed #A3865B; }

.sec-recipes .row:nth-last-child(1) {
  border-bottom: 1px dashed #A3865B;
  padding-bottom: 3.4em; }

.sec-recipes .row h3 {
  font-size: 1.4em;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  min-height: 3em; }

.sec-recipes .row img {
  width: 100%; }

/*Recipes END*/
/*Gallery*/
.sec-gallery h2 {
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 3em;
  font-family: "Bowlby One", Helvetica, sans-serif;
  font-weight: 700; }

.sec-gallery .row {
  margin-top: 1em;
  margin-bottom: 2em; }

.sec-gallery .row .btn-primary {
  font-size: 1.2em;
  font-family: "Abel", Helvetica, sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #000000;
  padding: 0.6em 1.6em;
  border: 1px solid #000000;
  border-radius: 0; }

.sec-gallery .row .btn-primary:hover, .sec-gallery .row .btn-primary:focus, .sec-gallery .row .btn-primary:active {
  background-color: #FFFFFF;
  color: #000000; }

.sec-gallery .row .thumbnail {
  background-color: #000000;
  border: none;
  border-radius: 0; }

/*Gallery END */
/*Navbar*/
.navbar-inverse .navbar-brand {
  color: #FFFFFF;
  font-size: 1.6em;
  font-family: "Bowlby One", Helvetica, sans-serif;
  font-weight: 900; }

.navbar-inverse .navbar-nav {
  color: #FFFFFF; }

/*Navbar END*/
/*Carousel*/
.carousel img {
  width: 100%; }

.carousel .carousel-caption h2 {
  font-size: 3em; }

.carousel .carousel-caption p {
  font-size: 2.1em;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  padding-bottom: 7em; }

.carousel .carousel-indicators li {
  border-radius: 0;
  height: 20px;
  width: 20px;
  margin-right: 2em; }

/*Carousel END*/
/*Restaurant*/
.sec-restaurant h2 {
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 3em;
  font-family: "Bowlby One", Helvetica, sans-serif;
  font-weight: 700; }

.sec-restaurant .row {
  margin-bottom: 3em; }

.sec-restaurant .row .col-sm-4 {
  border-left: 3px solid #A3865B; }

.sec-restaurant .row .col-sm-4 h3 {
  font-style: italic;
  color: #A3865B;
  min-height: 2.5em; }

.sec-restaurant .row .col-sm-4 p {
  padding-top: 1em;
  font-size: 1.4em;
  font-family: "Abel", Helvetica, sans-serif;
  font-weight: 700; }

.sec-restaurant .row .col-sm-4 .btn {
  font-size: 1em;
  font-family: "Abel", Helvetica, sans-serif;
  font-weight: 500;
  color: #000000;
  background-color: #FFFFFF;
  padding: 0.5em 1.8em 0.5em 1em;
  border: 2px solid #A3865B;
  border-radius: 0; }

.sec-restaurant .row .col-sm-4 .btn:hover, .sec-restaurant .row .col-sm-4 .btn:focus, .sec-restaurant .row .col-sm-4 .btn:active {
  background-color: #A3865B;
  color: #FFFFFF; }

.sec-restaurant .row .col-sm-4 .btn:hover .glyphicon, .sec-restaurant .row .col-sm-4 .btn:focus .glyphicon, .sec-restaurant .row .col-sm-4 .btn:active .glyphicon {
  visibility: visible; }

.sec-restaurant .row .col-sm-4 .btn:hover:active .glyphicon, .sec-restaurant .row .col-sm-4 .btn:focus:active .glyphicon, .sec-restaurant .row .col-sm-4 .btn:active:active .glyphicon {
  color: #000000; }

.sec-restaurant .row .col-sm-4 .btn .glyphicon {
  margin-left: 1em;
  visibility: hidden; }

/*Restaurant END*/
/*Team*/
.sec-team h2 {
  margin-top: 3em;
  margin-bottom: 2em;
  font-size: 3em;
  font-family: "Bowlby One", Helvetica, sans-serif;
  font-weight: 700; }

.sec-team .row .thumbnail {
  border: none;
  border-radius: 0;
  border-left: 1px solid #A3865B;
  border-right: 1px solid #A3865B; }

.sec-team .row .thumbnail h3 {
  color: #A3865B;
  font-size: 1.4em;
  font-family: "Bowlby One", Helvetica, sans-serif;
  font-weight: 500; }

.sec-team .row .thumbnail p {
  padding-top: 2em;
  min-height: 14em; }

/*Team END*/
